@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rozha-one-regular {
  font-family: "Rozha One", serif;
  font-weight: 400;
  font-style: normal;
}

/* === WYSIWYG editor content === */
.wysiwyg-content ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.5rem;
}

.wysiwyg-content ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 1.5rem;
}

.wysiwyg-content ul ul {
  list-style-type: circle;
}

.wysiwyg-content ol ol,
.wysiwyg-content ul ol {
  list-style-type: lower-alpha;
}

.wysiwyg-content em,
.wysiwyg-content i {
  font-style: italic;
}

/* Hide caret on language dropdown toggle */
#language-dropdown::after,
#language-dropdown .dropdown-toggle::after {
  display: none !important;
}